.dash-container {
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 25px 10vw;
  background-image: linear-gradient(45deg, #0C2340, #0C2340);
  font-family: "Times New Roman";
}

.sub-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  color: rgb(255, 255, 255);
  background: solid rgb(255, 255, 255);
  outline: none;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
