.dash-container {
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 25px 10vw;
  background-image: linear-gradient(45deg, #0c2340, #0c2340);
  font-family: "Times New Roman";
}

.dash-container * {
  color: #fff;
}

.sub-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
