.header-container {
  height: 50px;
  width: 95%;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 2.5%;
  background-image: linear-gradient(45deg, #00843D, #00843D);
}

.header-container * {
  margin: 10px;
}

.link {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #00843D;
}
